In [1]:
import numpy as np

import psycopg2 as pg
import pandas.io.sql as psql
import pandas as pd

connection = pg.connect(host='pgsql-196447.vipserv.org', port=5432, dbname='wbauer_adb', user='wbauer_adb', password='adb2020')

query = f"""
    select
        count(name)
    from
        category
        """
df = pd.read_sql(query, con=connection)
print(df)

   count
0     16

/usr/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

2

In [2]:
query = f"""
    select
        name
    from
        category
    order by
        name asc
        """
df = pd.read_sql(query, con=connection)
print(df)

           name
0        Action
1     Animation
2      Children
3      Classics
4        Comedy
5   Documentary
6         Drama
7        Family
8       Foreign
9         Games
10       Horror
11        Music
12          New
13       Sci-Fi
14       Sports
15       Travel

/usr/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

3

In [7]:
query = f"""
    select
        min(release_year),
        max(release_year)
    from
        film
        """
df = pd.read_sql(query, con=connection)
print(df)

    min   max
0  2006  2006

/usr/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

4

In [9]:
query = f"""
    select
        count(rental_date)
    from
        rental
    where
        rental_date between '2005-07-01' and '2005-08-01'
        """
df = pd.read_sql(query, con=connection)
print(df)

   count
0   6709

/usr/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

5

In [10]:
query = f"""
    select
        count(rental_date)
    from
        rental
    where
        rental_date between '2010-01-01' AND '2011-02-01'
        """
df = pd.read_sql(query, con=connection)
print(df)

/usr/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   count
0      0

6

In [11]:
query = f"""
    select
        max(amount)
    from
        payment
        """
df = pd.read_sql(query, con=connection)
print(df)

     max
0  11.99

/usr/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

7

In [18]:
query = f"""
    select
        first_name,
        last_name
    from
        customer
        join address on address.address_id = customer.address_id
        join city on city.city_id = address.city_id
        join country on country.country_id = city.country_id
    where country.country = 'Bangladesh' OR country.country = 'Poland' OR country.country = 'Nigeria'
        """
df = pd.read_sql(query, con=connection)
print(df)

   first_name  last_name
0       Sonia    Gregory
1       Brian      Wyman
2      Sidney   Burleson
3      Rodney    Moeller
4     Stephen     Qualls
5       Velma      Lucas
6     Marilyn       Ross
7       Elsie     Kelley
8      Gladys   Hamilton
9       Frank   Waggoner
10   Marjorie     Tucker
11      Carol     Garcia
12       Leah     Curtis
13      Ruben      Geary
14       Olga    Jimenez
15     Bertha   Ferguson
16     Tracey    Barrett
17         Jo     Fowler
18    Johnnie   Chisholm
19    Wallace      Slone
20   Michelle      Clark
21    Russell    Brinson
22     Jimmie  Eggleston
23  Constance       Reid

/usr/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

8

In [20]:
query = f"""
    select
        country
    from
        staff
        join address on address.address_id = staff.address_id
        join city on city.city_id = address.city_id
        join country on country.country_id = city.country_id
        """
df = pd.read_sql(query, con=connection)
print(df)

     country
0     Canada
1  Australia

9

In [23]:
query = f"""
    select
        country,
        count(staff_id)
    from
        staff
        join address on address.address_id = staff.address_id
        join city on city.city_id = address.city_id
        join country on country.country_id = city.country_id
    where country = 'Argentina' or country = 'Spain'
    group by
        country
        """
df = pd.read_sql(query, con=connection)
print(df)

/usr/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

Empty DataFrame
Columns: [country, count]
Index: []

10

In [34]:
query = f"""
    select
        name,
        count(customer.customer_id)
    FROM category
        JOIN film_category USING(category_id)
        JOIN film USING(film_id)
        JOIN inventory USING(film_id)
        JOIN rental USING(inventory_id)
        JOIN customer USING(customer_id)
    GROUP BY
        name 
    ORDER BY
        count(customer.customer_id) DESC
        """
df = pd.read_sql(query, con=connection)
print(df)

/usr/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

           name  count
0        Sports   1179
1     Animation   1166
2        Action   1112
3        Sci-Fi   1101
4        Family   1096
5         Drama   1060
6   Documentary   1050
7       Foreign   1033
8         Games    969
9      Children    945
10       Comedy    941
11          New    940
12     Classics    939
13       Horror    846
14       Travel    837
15        Music    830

11

In [37]:
query = f"""
    select
        name,
        count(customer.customer_id)
    FROM category
        JOIN film_category USING(category_id)
        JOIN film USING(film_id)
        JOIN inventory USING(film_id)
        JOIN rental USING(inventory_id)
        JOIN customer USING(customer_id)
        JOIN address USING(address_id)
        JOIN city USING(city_id)
        JOIN country USING(country_id)
    WHERE
        country.country='United States'
    GROUP BY
        name 
    ORDER BY
        count(customer.customer_id) DESC
        """
df = pd.read_sql(query, con=connection)
print(df)

           name  count
0   Documentary     74
1        Sports     73
2         Drama     69
3     Animation     68
4        Family     66
5       Foreign     64
6        Action     62
7        Horror     62
8        Sci-Fi     62
9         Games     60
10       Comedy     59
11     Children     56
12          New     55
13     Classics     54
14        Music     51
15       Travel     33

/usr/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

11

In [40]:
query = f"""
    select
        title
    FROM film
        JOIN film_actor USING(film_id)
        JOIN actor USING(actor_id)
    WHERE
        first_name = 'Olympia' AND last_name = 'Pfeiffer'
        OR first_name = 'Julia' AND last_name = 'Zellweger'
        OR first_name = 'Ellen' AND last_name = 'Presley'
        """
df = pd.read_sql(query, con=connection)
print(df)

                title
0     Bilko Anonymous
1   Caribbean Liberty
2    Casper Dragonfly
3    Empire Malkovich
4       Floats Garden
..                ...
64       Outlaw Hanky
65    Panky Submarine
66   Rider Caddyshack
67          Won Dares
68      Wyoming Storm

[69 rows x 1 columns]

/usr/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(